* {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

a {
	text-decoration: none;
}


/*图片铺满屏幕*/

body {
	background-color: #eee;
}


/*头部分*/

.head {
	height: 50px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .3);
	/*设置边框阴影*/
}


/*头部居中层*/

.head-middle {
	width: 900px;
	height: 50px;
	margin: 0 auto;
}


/*头部分logo*/

.head-logo {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	font-size: 45px;
	line-height: 50px;
	color: #CEA861;
	font-family: "arial, helvetica, sans-serif";
	font-weight: bold;
	letter-spacing: 0.2em;
}

.head-logo span {
	color: #B03060;
}


/*首页*/

.head-list {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	width: 70px;
	text-align: center;
	color: #B03060;
	font-size: 15px;
	font-weight: bold;
	line-height: 50px;
	margin-left: 50px;
}

.head-list:hover {
	color: #fff;
	background-color: #CEA861;
}


/*头像*/

.head-login {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	width: 250px;
	float: right;
	overflow: hidden;
}


/*头像图片*/

.login-img {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	border-radius: 21px;
	border: 2px solid #CEA861;
	margin-top: 4px;
}


/*登录名称*/

.user-name {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	height: 50px;
	width: 150px;
	color: #CEA861;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 50px;
}


/*新闻展示盒子*/

.news-box {
	height: 100%;
}


/*新闻中间层*/

.news-middle {
	position:relative;
	width: 900px;
	height: 580px;
	margin: 0 auto;
}


/*新闻列表*/

.news-list {
	height: 100%;
	width: 600px;
}

.news-head {
	height: 60px;
	color: #CEA861;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
}


/*新闻*/

.news {
	height: 40px;
	border-bottom: 1px solid #e0e2e2;
	overflow: hidden;
}


/*新闻标签*/

.news-tab {
	display: inline-block;
	vertical-align: middle;
	color: #bb9a6c;
	border: 1px solid #c5ab86;
	font-size: 12px;
	width: 36px;
	height: 20px;
	box-sizing: border-box;
	line-height: 18px;
	text-align: center;
}


/*新闻链接*/

.news-href {
	display: inline-block;
	width: 370px;
	height: 40px;
	overflow: hidden;
	vertical-align: middle;
	line-height: 40px;
	margin-left: 20px;
	color: #495057;
	font-size: 14px;
	letter-spacing: 1px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	/*border: 1px solid red;*/
}

.news-href:hover {
	color: #CEA861;
}


/*新闻发布时间*/

.news-date {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-right: 10px;
	width: 150px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #9d9d9d;
	/*border: 1px solid red;*/
	line-height: 40px;
}


/*翻页*/

.page-turn {
	height: 40px;
	width: 350px;
	/*border: 1px solid red;*/
	margin-left: 125px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.pages {
	height: 25px;
	width: 25px;
	text-align: center;
	border: 2px solid #CEA861;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 5px;
}
#big-page{
	width: 50px;
}
#other-page{
	width:100px;
}

/*翻页链接*/

.page-href {
	line-height: 25px;
	font-size: 14px;
	color: #CEA861;
	transition: all 0.5s ease 0s;
}

.pages:hover {
	background-color: #CEA861;
	transition: all 0.5s ease 0s;
	color: #fff;
}


/*公司新闻标题展示*/

.news-title-list {
	position:absolute;
	top:10px;
	right:0px;
	height: 500px;
	width: 200px;
}


/*公司新闻*/

.company-news {
	overflow: hidden;
	height: 88px;
	background-color: #CEA861;
	margin-bottom: 10px;
	box-shadow:0 1px 3px 0 rgba(0,34,77,.3);/*设置边框阴影*/
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.company-news:before{
	content: "";
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: rgba(255, 255, 255,0.3);
	transition: 0.5s;
}

.company-news:hover:before{
	height: 100%;
}

/*新闻内容*/
.news-context{
	display: inline-block;
	height: 44px;
	width: 170px;
	margin-left: 15px;
	margin-top: 22px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

/*页面页脚*/

.foots {
	height: 200px;
	background-color: #e3e2e2;
}


/*页脚中间层*/

.foots-middle {
	width: 1400px;
	height: 200px;
	margin: 0 auto;
}


/*页脚logo*/

.foot-logo {
	display: inline-block;
	height: 100px;
	width: 200px;
	margin-top: 60px;
	margin-left: 120px;
}


/*logo*/

.foot-logos {
	display: inline-block;
	font-size: 50px;
	color: #CEA861;
	font-family: "arial, helvetica, sans-serif";
	font-weight: bold;
	letter-spacing: 0.2em;
}

.foot-logos span {
	color: #B03060;
}

.foot-text {
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border-bottom: 2px solid #C5AB86;
	font-size: 18px;
	color: #CEA861;
}


/*页脚许可层*/

.foot-copyright {
	display: inline-block;
	height: 120px;
	width: 800px;
	float: right;
	margin-top: 40px;
	color: #9f9378;
}


/*大字*/

.foot-big-text {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}


/*小字*/

.foot-small-text {
	font-size: 10px;
	margin-bottom: 5px;
}